<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {volist name="ret" id="user" }
    <a href="/static/data/{$user.filename}" style="text-decoration:none" >
    <div  class="info">
        文件名：{$user.filename}           文件大小：{$user.size}K 修改时间:{$user.date}
        <br/> 
    </div>
    </a>
    {/volist}
</body>

</html>
